{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark" style="background:#008000;">
  <div class="container-fluid">

    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="{% url 'index' %}">
      <img src="{% static 'home/img/logo-frutos-de-goias.png' %}" alt="Frutos" width="48" height="48"
           class="rounded-circle">
    </a>

    <!-- botão hamburguer -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navFrutos" aria-controls="navFrutos"
            aria-expanded="false" aria-label="Alternar navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- itens -->
    <div class="collapse navbar-collapse" id="navFrutos">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'estoque' %}">Estoque</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropEst"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Estatísticas
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropEst">
            <li><a class="dropdown-item"
                   href="{% url 'produtos_mais_pedidos' %}">Produtos mais vendidos</a></li>
            <li><a class="dropdown-item"
                   href="{% url 'grafico_evolucao_pedidos' %}">Evolução de pedidos</a></li>
            <li><a class="dropdown-item"
                   href="{% url 'tabela_pedidos' %}">Tabela de pedidos</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'minhas_recomendacoes' %}">
            Sugestões de pedido
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home/sair/">Sair</a>
        </li>
      </ul>

      <!-- Arara decorativa (oculta em XS se quiser) -->
      <img src="{% static 'lojistas/img/arara-frutos.png' %}" alt="arara"
           width="56" height="56" class="d-none d-lg-block ms-3">
    </div>
  </div>
</nav>
